<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <app-category-name/>
  </div>
  <div class="mb-3">
    <app-category-content/>
  </div>
  <div class="mb-3">
    <app-category-image-uri/>
  </div>
  <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
