<label for="name" class="form-label">PESEL</label>
<input [formControl]="personalNumber" placeholder="PESEL" class="form-control" id="name" appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="personalNumber"/>
</div>
