<div *ngIf="control.touched || control.dirty">
  <div *ngIf="control.hasError('required')">Kontrolka jest wymagana</div>
  <div *ngIf="control.hasError('email')">Kontrolka musi mieć format poprawnego adresu email</div>
  <div *ngIf="control.hasError('minlength')">
    Wymaga ilość znaków to: {{ control.getError('minlength').requiredLength }}
    wpisano: {{ control.getError('minlength').actualLength }}
  </div>
  <div *ngIf="control.hasError('maxlength')">
    Wymaga ilość znaków to: {{ control.getError('maxlength').requiredLength }}
    wpisano: {{ control.getError('maxlength').actualLength }}
  </div>
  <div *ngIf="control.hasError('min')">
    Wymagana minimalna wartość to: {{ control.getError('min').min }}
    wpisano: {{ control.getError('min').actual }}
  </div>
  <div *ngIf="control.hasError('max')">
    Wymagana maksymalna wartość to: {{ control.getError('max').max }}
    wpisano: {{ control.getError('max').actual }}
  </div>
</div>
