<label for="content" class="form-label">Opis kategorii</label>
<textarea [formControl]="content" placeholder="Wpisz opis kategorii" class="form-control" id="content"
          appControlColor></textarea>
<div class="invalid-feedback">
  <app-control-errors [control]="content"/>
</div>
