<label for="content" class="form-label">Opis produktu</label>
<textarea [formControl]="content" placeholder="Wpisz opis produktu" class="form-control" id="content"
          appControlColor></textarea>
<div class="invalid-feedback">
  <app-control-errors [control]="content"/>
</div>
