<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/categories">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products">Produkty</a>
        </li>
        <li [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/users">Użytkownicy</a>
        </li>
      </ul>
      <div class="d-flex">
        <span *ngIf="loggedUser$ | async as loggedUser" class="navbar-text">
          Witaj {{ loggedUser.firstname }} {{ loggedUser.lastname }}!
        </span>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="(loggedUser$ | async) === null">
            <a class="nav-link active" aria-current="page" routerLink="/login">Zaloguj</a>
          </li>
          <li class="nav-item" *ngIf="loggedUser$ | async">
            <button class="nav-link active" aria-current="page" (click)="logout()">Wyloguj</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<app-loader/>
