<div class="d-flex justify-content-between mt-3">
  <div [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]">
    <a [routerLink]="'/category/add'" type="button" class="btn btn-success">Dodaj nowy</a>
  </div>
  <div>
    <app-assign-category-product-btn/>
  </div>
</div>

<h3 class="mb-3 mt-3">Kategorie:</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let category of categories$ | async">
    <div class="card">
      <div [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]" class="d-flex justify-content-end">
        <button (click)="removeCategory(category.id)" type="button" class="btn btn-danger">x</button>
      </div>
      <div class="d-flex justify-content-center">
        <img [src]="category.image.uri" [style.width.px]="100" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">{{ category.content }}</p>
        <div class="d-flex justify-content-end gap-2">
          <a [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]" [routerLink]="'/category/edit/' + category.id" type="button"
             class="btn btn-warning">Edytuj</a>
          <a [routerLink]="'/category/' + category.id" type="button" class="btn btn-primary">Więcej</a>
        </div>
      </div>
    </div>
  </div>
</div>
