<div
  *ngFor="let image of images.controls; let index = index">

  <label for="image" class="form-label">Link do obrazka</label>

  <div class="input-group mb-3">

    <input [formControl]="image.controls.uri" placeholder="Podaj link do obrazka" class="form-control" id="image"
           appControlColor>

    <button (click)="removeImage(index)" class="btn btn-outline-danger" type="button">x</button>

    <div class="invalid-feedback">
      <app-control-errors [control]="image.controls.uri"/>
    </div>

  </div>


</div>

<button class="btn btn-success btn-sm" type="button" (click)="addImage()">Dodaj link</button>
