<ngb-pagination class="d-flex justify-content-center"
                [pageSize]="page.size"
                [collectionSize]="page.totalElements"
                [page]="page.number + 1"
                (pageChange)="getDataByPageAndSize($event - 1, page.size)"/>

<div>
  <label for="pageSize">Ilość wyników na stronie:</label>
  <select [formControl]="pageSizeCtrl" [style.width.px]="100" class="form-select mt-2"
          id="pageSize">
    <option [value]="1">1</option>
    <option [value]="20">20</option>
    <option [value]="50">50</option>
    <option [value]="100">100</option>
  </select>
</div>
