<h3 class="mb-3 mt-3">Szczegóły kategorii:</h3>

<ng-container *ngIf="category$ | async as category">

  <div class="card">
    <img class="card-img-to p-3" alt="..."
         [src]="category.image.uri" [style.width.px]="200">
    <div class="card-body">
      <h5 class="card-title">{{ category.name }}</h5>
      <p class="card-text">{{ category.content }}</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
    <div class="col" *ngFor="let product of category.products">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <div class="d-flex justify-content-end gap-2">
            <a [routerLink]="'/product/' + product.id" type="button" class="btn btn-primary">Więcej</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>


