<h3 class="mb-3 mt-3">Szczegóły użytkownika:</h3>

<div class="card" *ngIf="user$ | async as user">
  <!--      <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">{{ user.email }}</h5>
    <p class="card-text">{{ user.firstname | firstLetterUppercase }} {{ user.lastname | firstLetterUppercase }}</p>
    <p class="card-text">Vat nb: {{ user.vatNumber }}</p>
    <div class="card-text">
      <ul>
        <li *ngFor="let address of user.address">
          {{ address.street }}, {{ address.zipCode }} {{ address.city }}
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <span class="badge text-bg-warning">{{ user.role }}</span>
      </div>
    </div>
  </div>
</div>
