<label for="name" class="form-label">Hasło</label>
<input [formControl]="password" placeholder="Hasło" class="form-control" id="name"
       appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="password"/>
</div>
