<div class="d-flex flex-column gap-3">
  <div class="card" *ngFor="let address of addresses.controls; let index = index">
    <div class="card-body">
      <div>
        <label for="city" class="form-label">Miasto</label>
        <input [formControl]="address.controls.city" placeholder="Miasto" class="form-control" id="city"
               appControlColor>
        <div class="invalid-feedback">
          <app-control-errors [control]="address.controls.city"/>
        </div>
      </div>

      <div class="mt-3">
        <label for="street" class="form-label">Ulica</label>
        <input [formControl]="address.controls.street" placeholder="Ulica" class="form-control" id="street"
               appControlColor>
        <div class="invalid-feedback">
          <app-control-errors [control]="address.controls.street"/>
        </div>
      </div>

      <div class="mt-3">
        <label for="zipCode" class="form-label">Kod pocztowy</label>
        <input [formControl]="address.controls.zipCode" placeholder="Kod pocztowy" class="form-control" id="zipCode"
               appControlColor>
        <div class="invalid-feedback">
          <app-control-errors [control]="address.controls.zipCode"/>
        </div>
      </div>

      <button (click)="addressRemove(index)" class="btn btn-danger btn-sm mt-3" type="button">Usuń</button>
    </div>

  </div>
</div>

<button (click)="addressAdd()" class="btn btn-success btn-sm mt-3" type="button">Dodaj adres</button>
