<label for="role" class="form-label">Role</label>
<select [formControl]="role" class="form-select" id="role" appControlColor>
  <option [value]="Roles.CLIENT">{{ Roles.CLIENT }}</option>
  <option [value]="Roles.MANAGER">{{ Roles.MANAGER }}</option>
  <option [value]="Roles.ADMIN">{{ Roles.ADMIN }}</option>
</select>
<div class="invalid-feedback">
  <app-control-errors [control]="role"/>
</div>
