<label for="name" class="form-label">Numer VAT</label>
<input [formControl]="vatNumber" placeholder="Numer VAT" class="form-control" id="name" appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="vatNumber"/>
</div>
