<label for="name" class="form-label">Nazwisko</label>
<input [formControl]="lastname" placeholder="Nazwisko" class="form-control" id="name"
       appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="lastname"/>
</div>
