<label for="image" class="form-label">Link do obrazka</label>
<input [formControl]="imageUri" placeholder="Podaj link do obrazka" class="form-control" id="image" appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="imageUri"/>
</div>
