<label for="price" class="form-label">Cena produktu</label>
<input [formControl]="price" type="number" placeholder="Wpisz cenę produktu" class="form-control" id="price"
       appControlColor>

<div class="invalid-feedback">
  <app-control-errors [control]="price"/>
</div>
