<label for="name" class="form-label">Nazwa kategorii</label>
<input [formControl]="name" placeholder="Wpisz nazwę kategorii" class="form-control" id="name" appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="name"/>
</div>
