<div class="mt-3" [appHasRoles]="[Roles.ADMIN]">
  <a [routerLink]="'/user/add'" type="button" class="btn btn-success">Dodaj nowy</a>
</div>

<h3 class="mb-3 mt-3">Użytkownicy:</h3>

<ng-container *ngIf="usersPage$ | async as usersPage">

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let user of usersPage.content">
      <div class="card">
        <!--      <img src="..." class="card-img-top" alt="...">-->
        <div [appHasRoles]="[Roles.ADMIN]" class="d-flex justify-content-end">
          <button (click)="removeUser(user.id)" type="button" class="btn btn-danger">x</button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ user.email }}</h5>
          <p
            class="card-text">{{ user.firstname | firstLetterUppercase }} {{ user.lastname | firstLetterUppercase }}</p>
          <div class="d-flex justify-content-between">
            <div>
              <span class="badge text-bg-warning">{{ user.role }}</span>
            </div>
            <div [appHasRoles]="[Roles.ADMIN]">
              <a [routerLink]="'/user/edit/' + user.id" type="button" class="btn btn-warning">Edytuj</a>
            </div>
            <a [routerLink]="'/user/' + user.id" type="button" class="btn btn-primary">Więcej</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <hr/>
    <app-pagination [page]="usersPage" (pageChanged)="getUserByPageAndSize($event.page, $event.size)"/>
  </div>

</ng-container>
