<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <app-user-firstname/>
  </div>
  <div class="mb-3">
    <app-user-lastname/>
  </div>
  <div class="mb-3">
    <app-user-email/>
  </div>
  <div class="mb-3">
    <app-user-password/>
  </div>
  <div class="mb-3">
    <app-user-personal-number/>
  </div>
  <div class="mb-3">
    <app-user-vat-number/>
  </div>
  <div class="mb-3">
    <app-user-addresses/>
  </div>
  <div class="mb-3">
    <app-user-role/>
  </div>
  <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
