<div class="modal-header">
  <h4 class="modal-title">Połącz kategorie z produktem</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">

  <form [formGroup]="form">
    <label for="product" class="form-label">Produkt</label>
    <select [formControl]="productId" class="form-select" id="product"
            *ngIf="products$ | async as products" appControlColor>
      <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
    </select>
    <div class="invalid-feedback">
      <app-control-errors [control]="productId"/>
    </div>

    <label for="category" class="form-label mt-3">Kategoria</label>
    <select [formControl]="categoryId" class="form-select" id="category"
            *ngIf="categories$ | async as categories" appControlColor>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <div class="invalid-feedback">
      <app-control-errors [control]="categoryId"/>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="assign()">Połącz</button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
</div>
