<div class="d-flex justify-content-between mt-3">
  <div [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]">
    <a [routerLink]="'/product/add'" type="button" class="btn btn-success">Dodaj nowy</a>
  </div>
  <div>
    <app-assign-category-product-btn/>
  </div>
</div>

<h3 class="mb-3 mt-3">Produkty:</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let product of products$ | async">
    <div class="card">
      <div [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]" class="d-flex justify-content-end">
        <button (click)="removeProduct(product.id)" type="button" class="btn btn-danger">x</button>
      </div>
      <div class="d-flex justify-content-center">
        <img [src]="product.images[0].uri" [style.width.px]="100" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.content }}</p>
        <div class="d-flex justify-content-between">
          <div>
            <span class="badge text-bg-warning">{{ product.price | currency }}</span>
          </div>
          <a [appHasRoles]="[Roles.ADMIN, Roles.MANAGER]" [routerLink]="'/product/edit/' + product.id" type="button"
             class="btn btn-warning">Edytuj</a>
          <a [routerLink]="'/product/' + product.id" type="button" class="btn btn-primary">Więcej</a>
        </div>
      </div>
    </div>
  </div>
</div>
