<label for="name" class="form-label">Email</label>
<input [formControl]="email" placeholder="Nazwisko" class="form-control" id="name"
       appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="email"/>
</div>
