<h3 class="mb-3 mt-3">Szczegóły produktu:</h3>

<div class="card" *ngIf="product$ | async as product">
  <div class="d-flex">
    <img *ngFor="let image of product.images" class="card-img-to p-3" alt="..."
         [src]="image.uri" [style.width.px]="200">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.content }}</p>
    <div class="d-flex justify-content-between">
      <div>
        <span class="badge text-bg-warning">{{ product.price | currency }}</span>
      </div>
    </div>
    <div class="mt-3">
      <strong>Kategorie:</strong>
      <ul>
        <li *ngFor="let category of product.categories">
          <a [routerLink]="'/category/' + category.id">{{ category.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
