<label for="name" class="form-label">Imię</label>
<input [formControl]="firstname" placeholder="Imię" class="form-control" id="name"
       appControlColor>
<div class="invalid-feedback">
  <app-control-errors [control]="firstname"/>
</div>
