<div *ngIf="loading$ | async" class="d-flex flex-column align-items-center m-3">
  <div class="spinner-border text-primary" [style.width.px]="60" [style.height.px]="60"></div>
  <span class="text-primary mt-2">Ładowanie...</span>
</div>
