<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Adres e-mail</label>
    <input [formControl]="username" type="email" class="form-control" id="email" appControlColor>
    <div class="invalid-feedback">
      <app-control-errors [control]="username"/>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Hasło</label>
    <input [formControl]="password" type="password" class="form-control" id="password" appControlColor>
    <div class="invalid-feedback">
      <app-control-errors [control]="password"/>
    </div>
  </div>
  <div class="mb-3 form-check">
    <input [formControl]="form.controls.rememberMe" type="checkbox" class="form-check-input" id="remember">
    <label class="form-check-label" for="remember">Zapamiętaj mnie</label>
  </div>
  <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>
