<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <app-product-name/>
  </div>
  <div class="mb-3">
    <app-product-content/>
  </div>
  <div class="mb-3">
    <app-product-price/>
  </div>
  <div class="mb-3">
    <app-product-images/>
  </div>
  <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
